* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  position: relative;
  font-family: "Helvetica Neue";
  background-image: url(images/SKY.jpg);
  background-color: cadetblue;
}

.image2 {
  position: absolute;
  margin-top: 285px;
}

.image3 {
  position: absolute;
  background: url(images/tree3.png);
  margin-top: 250px;
  width: 100%;
}

.logo {
  margin: 30px;
  width: 10%;
}

.logo-container {
  display: flex;
  align-items: center;
}

.navbar-container {
  display: flex;
  width: 100%;
}

a:link {
  color: white;
  text-decoration: none;
}

.navbar {
  display: flex;
  justify-content: space-around;
  margin-top: 30px;
  margin-left: 30%;
  font-weight: bold;
  color: white;
  width: 50%;
  text-decoration: none;
}

#hero {
  position: absolute;
  display: flex;
  flex-direction: column;
  color: white;
  left: 0; 
  right: 0; 
  margin-left: auto; 
  margin-right: auto; 
  width: 100%;
}

#hero-title {
  margin-top: 150px;
  font-size: 94px;
  background-image: url(images/vlad-hilitanu-pt7QzB4ZLWw-unsplash.jpg);
  background-repeat: repeat;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-align: center;
  font-weight: bold;
  text-transform: uppercase;
  font-family: "Steelfish Rg", "helvetica neue", helvetica, arial, sans-serif;
  font-weight: 800;
  -webkit-font-smoothing: antialiased;
}

#hero-text {
  margin-top: 30px;
  height: 350px;
  margin-left: auto;
  margin-right: auto;
  align-items: center;
  font-size: 20px;
}

.our-mission {
  display: flex;
  align-items: center;
  background-color: white;
  margin-top: 400px;
  height: 300px;
}

#mission-text {
  margin: 30px;
}

.nft-section {
  display: flex;
  align-items: center;
  height: 300px;
  background-color: white;
  margin-top: 400px;
}

.nft-display {
  margin: 30px;
}

footer {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  height: 300px;
  margin-top: 400px;
}